In [27]:
import os

root_dir = os.path.abspath('..')
data_dir = os.path.join(root_dir, 'data')
save_path = os.path.join(data_dir, 'assets_info.csv')

In [28]:
import pandas as pd
import numpy as np

## Sliding Window & Target

It's pretty interesting that market works not on all days (weekends & holidays).

Also, it works from 9am to 4pm (Eastern Time).


For this reason, I will consider all the available days as continuous.

And, in the day, I'll have 7 hours of data (from 9am to 4pm).

In [29]:
data = pd.read_csv(save_path)

In [30]:
def create_sliding_windows(data, window_size, future_offset):
    """
    Create sliding windows and corresponding targets from time series data.
    
    Parameters:
    - data: np.array, time series data (e.g., closing prices).
    - window_size: int, the number of points to include in each window (e.g., 30 days * 24 hours = 720).
    - future_offset: int, how many points ahead to select the target value (e.g., 24 for 24 hours later).
    
    Returns:
    - X_windows: np.array, 2D array where each row is a window of size `window_size`.
    - y_targets: np.array, 1D array of target values corresponding to each window.
    """
    
    # Initialize lists to store windows and targets
    X_windows = []
    y_targets = []
    
    # Sliding window loop
    for i in range(len(data) - window_size - future_offset):
        # Extract the window of `window_size` points
        window = data[i:i + window_size]
        
        # Extract the target value `future_offset` points after the window ends
        target = data[i + window_size + future_offset - 1]
        
        # Append the window and target to their respective lists
        X_windows.append(window)
        y_targets.append(target)
    
    # Convert the lists to numpy arrays
    X_windows = np.array(X_windows)
    y_targets = np.array(y_targets)
    
    return X_windows, y_targets

In [31]:
# Example time series data (close prices)
data_ = np.array([i for i in range(1000)])  # Replace with your actual time series data

# Set the parameters
window_size = 30 * 7  # 30 days * 7 hours = 210 points per window
future_offset = 7  # Target is the price 7 hours later

# Call the function
X_windows, y_targets = create_sliding_windows(data_, window_size, future_offset)

# Check the output
print(f'X_windows shape: {X_windows.shape}')  # Each row is a window of 720 points
print(f'y_targets shape: {y_targets.shape}')  # Corresponding targets

assert X_windows.shape[0] == y_targets.shape[0], 'Number of windows and targets do not match!'
assert X_windows.shape == (1000 - window_size - future_offset, window_size), 'Incorrect shape for X_windows!'

X_windows shape: (783, 210)
y_targets shape: (783,)

In [32]:
data.head(2)

,symbol,sector,industry,country,data
0,X,Basic Materials,Steel,United States,"{Timestamp('2024-03-04 09:30:00-0500', tz='Ame..."
1,HRL,Consumer Defensive,Packaged Foods,United States,"{Timestamp('2024-03-04 09:30:00-0500', tz='Ame..."

In [33]:
from pandas import Timestamp


FEATURE_COLS = ['symbol', 'sector', 'industry', 'country']
def get_features(data_row):
    return data_row[FEATURE_COLS].to_dict()

def get_values(data_row):
    data_str = data_row['data'] # str(dict)
    data_dict = eval(data_str)
    return np.array(list(data_dict.values()))

data_row_ = data.iloc[0]
features = get_features(data_row_)
values = get_values(data_row_)
features, values[:3]

({'symbol': 'X',
  'sector': 'Basic Materials',
  'industry': 'Steel',
  'country': 'United States'},
 array([47.45000076, 47.45500183, 47.77999878]))

In [34]:
from copy import deepcopy

def row_to_samples(data_row, window_size, future_offset):
    features = get_features(data_row)
    values = get_values(data_row)
    X_windows, y_targets = create_sliding_windows(values, window_size, future_offset)
    for i in range(len(X_windows)):
        sample = deepcopy(features)
        sample.update({f'value_{j}': X_windows[i][j] for j in range(window_size)})
        sample['target'] = y_targets[i]
        yield sample
    

# Set the parameters
window_size = 30 * 7  # 30 days * 7 hours = 210 points per window
future_offset = 7  # Target is the price 7 hours later

# Get the first row of data
data_row_ = data.iloc[0]
cnt = 10
for sample in row_to_samples(data_row_, window_size, future_offset):
    print(sample)
    break

{'symbol': 'X', 'sector': 'Basic Materials', 'industry': 'Steel', 'country': 'United States', 'value_0': 47.45000076293945, 'value_1': 47.45500183105469, 'value_2': 47.779998779296875, 'value_3': 47.814998626708984, 'value_4': 47.78499984741211, 'value_5': 47.755001068115234, 'value_6': 47.69499969482422, 'value_7': 47.650001525878906, 'value_8': 47.939998626708984, 'value_9': 48.005001068115234, 'value_10': 48.03499984741211, 'value_11': 48.07500076293945, 'value_12': 48.04499816894531, 'value_13': 47.7599983215332, 'value_14': 47.36000061035156, 'value_15': 47.38999938964844, 'value_16': 47.20000076293945, 'value_17': 47.1150016784668, 'value_18': 47.16999816894531, 'value_19': 47.229000091552734, 'value_20': 47.20000076293945, 'value_21': 47.439998626708984, 'value_22': 47.5, 'value_23': 47.32500076293945, 'value_24': 47.39500045776367, 'value_25': 47.119998931884766, 'value_26': 47.349998474121094, 'value_27': 47.56999969482422, 'value_28': 47.53499984741211, 'value_29': 47.654998779296875, 'value_30': 47.67499923706055, 'value_31': 47.69499969482422, 'value_32': 47.6150016784668, 'value_33': 47.529998779296875, 'value_34': 47.43000030517578, 'value_35': 47.5099983215332, 'value_36': 47.4900016784668, 'value_37': 47.56999969482422, 'value_38': 47.43000030517578, 'value_39': 47.29999923706055, 'value_40': 47.19499969482422, 'value_41': 47.11000061035156, 'value_42': 46.959999084472656, 'value_43': 47.0, 'value_44': 46.96500015258789, 'value_45': 46.95000076293945, 'value_46': 46.94499969482422, 'value_47': 46.95000076293945, 'value_48': 46.849998474121094, 'value_49': 46.08000183105469, 'value_50': 46.29999923706055, 'value_51': 46.39500045776367, 'value_52': 41.555198669433594, 'value_53': 41.70500183105469, 'value_54': 40.7599983215332, 'value_55': 40.849998474121094, 'value_56': 40.040000915527344, 'value_57': 40.099998474121094, 'value_58': 40.20500183105469, 'value_59': 38.95000076293945, 'value_60': 37.470001220703125, 'value_61': 37.15629959106445, 'value_62': 38.2599983215332, 'value_63': 37.92499923706055, 'value_64': 38.42499923706055, 'value_65': 38.54249954223633, 'value_66': 39.03499984741211, 'value_67': 38.994998931884766, 'value_68': 38.80009841918945, 'value_69': 38.86000061035156, 'value_70': 38.89500045776367, 'value_71': 39.005001068115234, 'value_72': 39.005001068115234, 'value_73': 39.21500015258789, 'value_74': 39.244998931884766, 'value_75': 39.150001525878906, 'value_76': 38.869998931884766, 'value_77': 39.31999969482422, 'value_78': 39.599998474121094, 'value_79': 39.70500183105469, 'value_80': 39.6150016784668, 'value_81': 39.540000915527344, 'value_82': 39.58599853515625, 'value_83': 39.7400016784668, 'value_84': 39.9900016784668, 'value_85': 39.959999084472656, 'value_86': 39.81999969482422, 'value_87': 39.814998626708984, 'value_88': 39.720001220703125, 'value_89': 39.939998626708984, 'value_90': 39.68000030517578, 'value_91': 39.5099983215332, 'value_92': 39.900001525878906, 'value_93': 39.96500015258789, 'value_94': 39.9900016784668, 'value_95': 40.0, 'value_96': 40.060001373291016, 'value_97': 40.040000915527344, 'value_98': 39.9900016784668, 'value_99': 39.88629913330078, 'value_100': 39.84000015258789, 'value_101': 39.875, 'value_102': 39.82749938964844, 'value_103': 39.72999954223633, 'value_104': 39.66999816894531, 'value_105': 39.93000030517578, 'value_106': 39.935001373291016, 'value_107': 40.025001525878906, 'value_108': 40.1349983215332, 'value_109': 40.25, 'value_110': 40.349998474121094, 'value_111': 40.2599983215332, 'value_112': 40.36000061035156, 'value_113': 40.28390121459961, 'value_114': 40.400001525878906, 'value_115': 40.44499969482422, 'value_116': 40.73780059814453, 'value_117': 40.69499969482422, 'value_118': 40.68000030517578, 'value_119': 41.09000015258789, 'value_120': 41.34000015258789, 'value_121': 41.404998779296875, 'value_122': 41.125, 'value_123': 41.17499923706055, 'value_124': 41.04999923706055, 'value_125': 41.02000045776367, 'value_126': 41.119998931884766, 'value_127': 41.17499923706055, 'value_128': 41.06999969482422, 'value_129': 40.94499969482422, 'value_130': 40.95500183105469, 'value_131': 40.959999084472656, 'value_132': 40.75, 'value_133': 41.314998626708984, 'value_134': 41.5, 'value_135': 41.439998626708984, 'value_136': 41.86000061035156, 'value_137': 41.78499984741211, 'value_138': 41.775001525878906, 'value_139': 41.83000183105469, 'value_140': 41.244998931884766, 'value_141': 41.18000030517578, 'value_142': 41.15999984741211, 'value_143': 41.130001068115234, 'value_144': 41.279998779296875, 'value_145': 41.040000915527344, 'value_146': 41.40999984741211, 'value_147': 41.489898681640625, 'value_148': 41.90999984741211, 'value_149': 41.95109939575195, 'value_150': 42.005001068115234, 'value_151': 42.029998779296875, 'value_152': 41.89500045776367, 'value_153': 41.849998474121094, 'value_154': 41.959999084472656, 'value_155': 41.95000076293945, 'value_156': 42.11000061035156, 'value_157': 41.90999984741211, 'value_158': 41.84000015258789, 'value_159': 41.52000045776367, 'value_160': 41.11000061035156, 'value_161': 41.30500030517578, 'value_162': 41.38999938964844, 'value_163': 41.25, 'value_164': 41.2599983215332, 'value_165': 41.20000076293945, 'value_166': 41.10499954223633, 'value_167': 41.22999954223633, 'value_168': 41.10499954223633, 'value_169': 41.16999816894531, 'value_170': 40.8650016784668, 'value_171': 40.939998626708984, 'value_172': 40.810001373291016, 'value_173': 40.68000030517578, 'value_174': 40.599998474121094, 'value_175': 40.709999084472656, 'value_176': 40.775001525878906, 'value_177': 41.290000915527344, 'value_178': 41.43000030517578, 'value_179': 41.689998626708984, 'value_180': 41.95000076293945, 'value_181': 41.935001373291016, 'value_182': 41.79999923706055, 'value_183': 41.959999084472656, 'value_184': 41.82500076293945, 'value_185': 41.91999816894531, 'value_186': 42.40999984741211, 'value_187': 42.470001220703125, 'value_188': 42.61000061035156, 'value_189': 42.43000030517578, 'value_190': 42.345001220703125, 'value_191': 42.48500061035156, 'value_192': 42.41999816894531, 'value_193': 42.48500061035156, 'value_194': 42.415000915527344, 'value_195': 42.2400016784668, 'value_196': 42.16999816894531, 'value_197': 41.7666015625, 'value_198': 41.27000045776367, 'value_199': 41.165000915527344, 'value_200': 41.13999938964844, 'value_201': 40.994998931884766, 'value_202': 41.34000015258789, 'value_203': 41.33000183105469, 'value_204': 41.2400016784668, 'value_205': 41.209999084472656, 'value_206': 40.90760040283203, 'value_207': 40.93000030517578, 'value_208': 40.724998474121094, 'value_209': 40.83000183105469, 'target': 40.29999923706055}

In [35]:
# data --> dataframe

def data_to_samples(data, window_size, future_offset):
    for _, data_row in data.iterrows():
        yield from row_to_samples(data_row, window_size, future_offset)

df = pd.DataFrame(data_to_samples(data, window_size, future_offset))

In [36]:
print(f'Number of samples: {len(df)}')

Number of samples: 127410

In [37]:
df.head(5)

,symbol,sector,industry,country,value_0,value_1,value_2,value_3,value_4,value_5,...,value_201,value_202,value_203,value_204,value_205,value_206,value_207,value_208,value_209,target
0,X,Basic Materials,Steel,United States,47.450001,47.455002,47.779999,47.814999,47.785000,47.755001,...,40.994999,41.340000,41.330002,41.240002,41.209999,40.907600,40.930000,40.724998,40.830002,40.299999
1,X,Basic Materials,Steel,United States,47.455002,47.779999,47.814999,47.785000,47.755001,47.695000,...,41.340000,41.330002,41.240002,41.209999,40.907600,40.930000,40.724998,40.830002,40.450001,40.599998
2,X,Basic Materials,Steel,United States,47.779999,47.814999,47.785000,47.755001,47.695000,47.650002,...,41.330002,41.240002,41.209999,40.907600,40.930000,40.724998,40.830002,40.450001,40.520000,40.500000
3,X,Basic Materials,Steel,United States,47.814999,47.785000,47.755001,47.695000,47.650002,47.939999,...,41.240002,41.209999,40.907600,40.930000,40.724998,40.830002,40.450001,40.520000,40.380001,40.134998
4,X,Basic Materials,Steel,United States,47.785000,47.755001,47.695000,47.650002,47.939999,48.005001,...,41.209999,40.907600,40.930000,40.724998,40.830002,40.450001,40.520000,40.380001,40.340000,40.209999

## Target

I will classify changes by more than `std / denominator` as 1 and -1, and the rest as 0. \
Denominator is chosen in such a way that the number of 1s and -1s is approximately equal to the number of 0s.

In [38]:
N_values = window_size

def get_change_over_std(data_row):
    """Return the target value for a given row of data."""
    std = np.std([data_row[f'value_{i}'] for i in range(N_values)])
    pre_last_price = data_row[f'value_{N_values-1}']
    last_price = data_row[f'target']
    return (last_price - pre_last_price) / std

DENOMINATOR = 4
def get_target(data_row):
    """Return the target value for a given row of data."""
    change_over_std = get_change_over_std(data_row)
    
    if abs(change_over_std) * DENOMINATOR < 1:
        return 0
    return 1 if change_over_std > 0 else -1

# df['target_class'] = df.apply(get_target, axis=1)
df.apply(get_change_over_std, axis=1).apply(abs).describe()

count    127410.000000
mean          0.431984
std           0.489741
min           0.000000
25%           0.129276
50%           0.294078
75%           0.568306
max           9.862311
dtype: float64

In [39]:
df['target_class'] = df.apply(get_target, axis=1)

In [40]:
df.target_class.value_counts()

target_class
 0    56380
 1    38230
-1    32800
Name: count, dtype: int64

## Additional preprocessing

Before moving to clustering and adding time-series based features, I will preprocess the data a bit:

* OHE to `sector`, `industry`, `country` columns
* Split the data into train and test (test = 0.1)
Motivation: I want in test to be samples from the assets model has never seen before.
* Scale the data

#### Splitting the data

The test will contain the tickers that are not in the train. For this reason, I'll take only the test_split sample for test \
`shuffle=False`

In [41]:
from sklearn.model_selection import train_test_split

test_split = 0.15
test_size = int(test_split * len(df))

df_train, df_test = train_test_split(df, test_size=test_split, shuffle=False)

#### OHE

In [42]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [43]:
ohe_cols = ['sector', 'industry', 'country']

# count values
for col in ohe_cols:
    print(col, df_train[col].nunique())

sector 11
industry 79
country 19

In [44]:
df_train['industry'].value_counts()

industry
Asset Management                    9819
Oil & Gas Equipment & Services      4007
REIT - Retail                       3340
Banks - Regional                    3336
Medical Instruments & Supplies      3328
                                    ...
Utilities - Diversified              660
Telecom Services                     649
Other Industrial Metals & Mining     634
Industrial Distribution              454
Pharmaceutical Retailers             282
Name: count, Length: 79, dtype: int64

In [45]:
industry_size = df_train.groupby('industry').size().sort_values(ascending=False)
small_industries = industry_size[industry_size < 850].index
print("Amount of small industries:", len(small_industries))

df_train.loc[df_train.industry.isin(small_industries), 'industry'] = "default_industry"
df_test.loc[df_test.industry.isin(small_industries), 'industry'] = "default_industry"

Amount of small industries: 40

In [46]:
ohe_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
ohe_encoder.fit(df_train[ohe_cols])

df_train_ohe = pd.DataFrame(ohe_encoder.transform(df_train[ohe_cols]), columns=ohe_encoder.get_feature_names_out(ohe_cols))
df_test_ohe = pd.DataFrame(ohe_encoder.transform(df_test[ohe_cols]), columns=ohe_encoder.get_feature_names_out(ohe_cols))

In [47]:
df_train_ohe.shape

(108298, 70)

In [48]:
df_train_ohe.head(2)

,sector_Basic Materials,sector_Communication Services,sector_Consumer Cyclical,sector_Consumer Defensive,sector_Energy,sector_Financial Services,sector_Healthcare,sector_Industrials,sector_Real Estate,sector_Technology,...,country_India,country_Ireland,country_Israel,country_Japan,country_Luxembourg,country_Netherlands,country_Philippines,country_South Korea,country_United Kingdom,country_United States
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#### More simplfe features (before normalization)

In [54]:
import tsfel


cfg = {
    'statistical': {
        'Mean': tsfel.feature_extraction.features.mean,
        'Standard deviation': tsfel.feature_extraction.features.standard_deviation,
        'Range': tsfel.feature_extraction.features.range,
        'Absolute maximum': tsfel.feature_extraction.features.absolute_maximum,
        'Sum of values': tsfel.feature_extraction.features.sum_values,
    }
}

def extract_tsfel_simple(data):
    features = tsfel.time_series_features_extractor(cfg, data.values[:,:,None])
    return features

scale_cols = [f'value_{i}' for i in range(N_values)]
train_stat_features = extract_tsfel_simple(df_train[scale_cols])
test_stat_features = extract_tsfel_simple(df_test[scale_cols])

AttributeError: module 'tsfel.feature_extraction.features' has no attribute 'mean'

#### Scaling

In [ ]:
from tslearn.preprocessing import TimeSeriesScalerMeanVariance

# scale along with axis=1
scaler = TimeSeriesScalerMeanVariance(mu=0., std=1.)
X_train_scaled = scaler.fit_transform(df_train[scale_cols])
X_test_scaled = scaler.transform(df_test[scale_cols])

X_train_scaled = pd.DataFrame(X_train_scaled)
X_test_scaled = pd.DataFrame(X_test_scaled)

c:\Users\rodio\Desktop\Programming\ML\market_forecasting\.venv\Lib\site-packages\tslearn\bases\bases.py:15: UserWarning: h5py not installed, hdf5 features will not be supported.
Install h5py to use hdf5 features: http://docs.h5py.org/
  warn(h5py_msg)

In [ ]:
random_row = np.random.randint(0, len(X_train))
n_checks = 25
for i in range(n_checks):
    random_row = np.random.randint(0, len(X_train))
    assert np.isclose(X_train_scaled[random_row].mean(), 0, atol=1e-5), 'Mean of the time series is not close to 0!'

    random_row = np.random.randint(0, len(X_test_scaled))
    assert np.isclose(X_test_scaled[random_row].mean(), 0, atol=1e-5), 'Mean of the time series is not close to 0!'

In [ ]:
df_train[scale_cols] = X_train_scaled
df_test[scale_cols] = X_test_scaled

#### Final dataset

In [49]:
df_train.head(2)

,symbol,sector,industry,country,value_0,value_1,value_2,value_3,value_4,value_5,...,value_202,value_203,value_204,value_205,value_206,value_207,value_208,value_209,target,target_class
0,X,Basic Materials,Steel,United States,47.450001,47.455002,47.779999,47.814999,47.785000,47.755001,...,41.340000,41.330002,41.240002,41.209999,40.9076,40.930000,40.724998,40.830002,40.299999,0
1,X,Basic Materials,Steel,United States,47.455002,47.779999,47.814999,47.785000,47.755001,47.695000,...,41.330002,41.240002,41.209999,40.907600,40.9300,40.724998,40.830002,40.450001,40.599998,0

In [38]:
drop_cols = ohe_cols + ['symbol', 'target']
target_col = 'target_class'

y_train = df_train[target_col]
y_test = df_test[target_col]

X_train = df_train.drop(columns=drop_cols + [target_col])
X_test = df_test.drop(columns=drop_cols + [target_col])

X_simple_features_train = df_train_ohe
X_simple_features_test = df_test_ohe

In [39]:
print(X_train.shape, X_test.shape)

(108298, 210) (19112, 210)

In [40]:
# save
import os

X_train.to_csv(os.path.join(data_dir, 'X_train.csv'), index=False)
X_test.to_csv(os.path.join(data_dir, 'X_test.csv'), index=False)

X_simple_features_train.to_csv(os.path.join(data_dir, 'X_simple_features_train.csv'), index=False)
X_simple_features_test.to_csv(os.path.join(data_dir, 'X_simple_features_test.csv'), index=False)

y_train.to_csv(os.path.join(data_dir, 'y_train.csv'), index=False)
y_test.to_csv(os.path.join(data_dir, 'y_test.csv'), index=False)